---
import  type { List } from '../../types/Knowledge';

const fetchData = async (): Promise<List[]> => {
  try {
    const response = await fetch('https://bk-portfolio-eight.vercel.app/api/knowledges');
    if (!response.ok) {
      throw new Error(`HTTP error! status: ${response.status}`);
    }
    const data = await response.json();
    return data;
    
  } catch (error) {
    console.error('Error fetching data:', error);
    return [];
  }
};

// Llama a la función para obtener datos
const data = await fetchData();
--- 
<div class="vh-20 bg-gradient">
	<div class="flex h-100">
		<div class="col-12">
			<div class="logos h-100">
				<div class="logos-slide">
					{data.map((item) => (
						<img src={item.image} alt={item.description} />
					))}
				</div>
				<div class="logos-slide">
					{data.map((item) => (
						<img src={item.image} alt={item.description} />
					))}
				</div>
				<div class="logos-slide">
					{data.map((item) => (
						<img src={item.image} alt={item.description} />
					))}
				</div>
			</div>
		</div>
	</div>
</div>

<style>

  .h-100{
    height: 100%;
  }
  .bg-gradient{
    /* background-color:#232D3F; */
    background: 
      -moz-radial-gradient(0% 100%, ellipse cover, rgba(35, 24, 82, 0.22) 10%,rgba(138,114,76,0) 40%),
      -moz-linear-gradient(top, rgba(57,173,219,.25) 0%, rgba(42,60,87,.4) 100%), 
      -moz-linear-gradient(-45deg, #670d10 0%, #092756 100%);
  }

  @keyframes slide {
    from{
      transform: translateX(0);
    }
    to{
      transform: translateX(-100%);
    }
  }

  .logos{
    overflow: hidden;
    background-color: transparent;
    white-space: nowrap;
    position: relative;
    align-content: center;
  }

  .logos::before,
  .logos::after{
    position: absolute;
    top: 0;
    width: 350px;
    height: 100%;
    content: "";
    z-index: 2;
  }

  .logos::before{
    left: 0;
    background: linear-gradient(to left ,transparent 10%, #13151a);
  }
  .logos::after{
    right: 0;
    background: linear-gradient(to right ,transparent 10%, #13151a);
  }

  .logos:hover .logos-slide{
    animation-play-state: paused;
  }

  .logos-slide{
    display: inline-block;
    animation: 45s slide infinite linear;
  }

  .logos-slide img{
    width: 60px;
    height: 50px;
    margin: 0 40px;
  }
</style>

